body {
  margin: 0;
  background: #00204a;
  background: linear-gradient(45deg, #00204a 0%, #005792 50%, #00bbf0 100%);
  font-family: 'Roboto', sans-serif;
}

#navbar {
  color:#005792;
  background-color:#d9faff;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: 0.4s;
}

#navbar #logo {
  color:#005792;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  transition: 0.4s;
}

article {
  margin-top: 8rem;
}

.container-tablas {
  min-width: 742px;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: -1.5rem;
}

.requisitos-comparador  {
  display: inline-block;
  min-width: 182px;
  font-family: 'Amatic SC', cursive;
  font-size: 21px;
  line-height: 90%;
  padding-left: 14px;
  border-left: 7px solid #00bbf0;
}

#mi-seleccion1 {
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

#mi-seleccion2 {
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.tabla-puntaje {
  margin-top: 1rem;
  padding-top: 5rem;
  background-color: #d9faff;
}

.thead-backg {
  color:white;
  background: linear-gradient(to right, #005792, #00bbf0);
  background-size: 200%;
  background-position: right;
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  text-align: center;
}

h6 {
  font-size: small;
}

.form-select {
  display: inline-block;
  width: 180px;
  border-top: none !important;
  border-bottom: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.requisitos {
  font-family: 'Amatic SC', cursive;
  font-size: 21px;
  text-align: left;
  transition: 1s;
}

.div-check {
  display: inline-block;
  min-width: 158px;
} 

.form-check-input {
  margin-top: 7px;
}

.form-check-input:checked {
  background-color: #00bbf0;
  border-color: #00bbf0;
}

.optativa {
  padding-left: 7px;
}

#boton-calcular {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #005792;
  border-color: #005792;
}

#boton-calcular:hover {
  color:white;
  background-color: #005792;
}

#puntaje-ponderado {
  display: inline-block;
  min-width: 151px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 10%;
  line-height: 90%;
  font-weight: 700;
  color: #005792;
}

#resultNumber {
  padding-top: 0 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #005792;
}

footer {
  background-color:#d9faff;
}

footer p {
  color: #005792;
  padding-top: 1rem;
}

.texto-vertical{
  display: flex;
  writing-mode:sideways-lr;
  justify-content: start;
  padding-bottom: 1rem;
  color: #d9faff;
  font-size: 64px;
  letter-spacing: 4px;
  font-weight: 900;
  transition: 0.5s;
}

.texto-vertical:hover{
  color: white;
  cursor: default;
  font-size: 78px;
}

.texto-vertical2{
  display: flex;
  writing-mode:sideways-rl;
  justify-content: end;
  color: #d9faff;
  padding-left: 0;
  font-size: 58px;
  font-weight: 900;
  vertical-align: top;
  text-align: start;
  letter-spacing: 4px;
  transition: 0.5s;
}

.texto-vertical2:hover{
  color:white;
  font-size: 65px;
  cursor: default;
}

.form-range {
  margin: 0 1rem;
  width: 35%;
}

.resultados_parciales{
  padding-top: 5px;
  justify-content: center;
}

.form-control {
  width: 125px;
  border-right: 7px solid #00bbf0;
}

.table-responsive {
  min-width: 718px;
  border-radius: 10px 0px 10px 10px;
}

#div-accordion {
  padding: 2rem;
}

.accordion-header {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.accordion-body {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.accordion-button:not(.collapsed) {
  color:#005792;
  background-color: #d9faff;
}